<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DataMonkey Login</title>
</head>
<body>
    <head>
        
        <nav>
            <div class="usableNav">
                <div class="logo">DataMonkey!</div>
                
            </div>
            
        </nav>
    </head>
    <main>
        <div class="main-content">
            <h1>Login</h1>
<% if (messages.error)  { %>
    <%= messages.error %> 
<% } %> 
<form action="/login" method="POST">

    <div>
        <label for="email">Email</label>
        <input type="email id="email name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password", name="password" required>
    </div>
    <div>
        <button class="login" type="submit">Login</button>
    </div>
</form>
        </div>
    </main>
    
</body>
</html>
